Repository nicklundin08/dots: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt:nix, fmt:lua, fmt:json

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: fmt:nix
        name: fmt:nix
        entry: alejandra --
        language: system
        files: \.nix$
        pass_filenames: true
      - id: fmt:lua
        name: fmt:lua
        entry: stylua
        language: system
        pass_filenames: true
        files: \.lua$
      - id: fmt:json
        name: fmt:json
        entry: task fmt:json:file --
        language: system
        pass_filenames: true
        files: \.json$

docs(TODOS.md): updated todos
  TODOS.md
Due: none

fix(xremap): added as a service for all users
  TODOS.md
  nixos-hosts/host.laptop/xremap.nix
Due: fmt:nix

refactor(.gitmodules): deleted gitmodules file
  .gitmodules
Due: none

docs(RESOURCE.md): rename
  RESOURCES.md
Due: none

refactor(hosts.tower/lab): added lab dir for all the homelab related things in tower host
  nixos-hosts/host.tower/configuration.nix
  nixos-hosts/host.tower/lab/default.nix
  nixos-hosts/host.tower/lab/headscale.nix
  nixos-hosts/host.tower/lab/jellyfin.nix
  nixos-hosts/host.tower/lab/nginx.nix
  nixos-hosts/host.tower/lab/ssh.nix
  nixos-hosts/host.tower/lab/wireguard.nix
  nixos-hosts/host.tower/tailscale.nix
Due: fmt:nix

feat(headscale): wip - got headscale working kinda
  nixos-hosts/host.tower/lab/default.nix
  nixos-hosts/host.tower/lab/headscale-ui.compose.yaml
  nixos-hosts/host.tower/lab/headscale-ui.nix
  nixos-hosts/host.tower/lab/headscale.nix
Due: fmt:nix

feat(tailscale): got basic 2 node setup working with MSI and tower
  nixos-hosts/host.tower/lab/default.nix
  nixos-hosts/host.tower/lab/headscale.nix
  nixos-hosts/host.tower/lab/jellyfin.nix
  nixos-hosts/host.tower/lab/nginx.nix
  nixos-hosts/host.tower/lab/tailscale.nix
Due: fmt:nix

feat(hosts.laptop/tailscale): added tailscale back
  nixos-hosts/host.laptop/configuration.nix
Due: fmt:nix

fix(Taskfile.nixos.yaml): fix xremap service restart command - no longer run as user
  tasks/Taskfile.nixos.yaml
Due: none

docs(TODOS.md): added todo for terraform provider on headscale
  TODOS.md
Due: none

feat(nicksvim): added keybind for GH pull request list
  home-manager-modules/dev-programs/nicksvim/plugins/ui.nix
Due: fmt:nix

docs(TODOS.md): updated todos
  docs/TODOS.md
Due: none

feat(headplane): added headplane container
  nix/nixos-hosts/host.tower/lab/.gitignore
  nix/nixos-hosts/host.tower/lab/headscale-ui.compose.yaml
  nix/nixos-hosts/host.tower/lab/jellyfin.nix
Due: fmt:nix

refactor(lab/): refactored lab dir into several smaller dirs
  nix/nixos-hosts/host.tower/configuration.nix
  nix/nixos-hosts/host.tower/lab/default.nix
  nix/nixos-hosts/host.tower/lab/headscale-ui.nix
  nix/nixos-hosts/host.tower/lab/jellyfin.nix
  nix/nixos-hosts/host.tower/lab/nginx.nix
  nix/nixos-hosts/host.tower/lab/wireguard.nix
  nix/nixos-hosts/host.tower/nginx/default.nix
  nix/nixos-hosts/host.tower/nginx/local.nix
  nix/nixos-hosts/host.tower/nginx/tower.nix
  nix/nixos-hosts/host.tower/services/default.nix
  nix/nixos-hosts/host.tower/services/jellyfin.nix
  nix/nixos-hosts/host.tower/services/ssh.nix
  nix/nixos-hosts/host.tower/tailnet/.gitignore
  nix/nixos-hosts/host.tower/tailnet/default.nix
  nix/nixos-hosts/host.tower/tailnet/headplane.compose.yaml
  nix/nixos-hosts/host.tower/tailnet/headscale.nix
  nix/nixos-hosts/host.tower/tailnet/tailscale.nix
Due: fmt:nix

build(flake.nix): updated flake
  Taskfile.yaml
  flake.lock
Due: none

feat(nixvim.extras.lang.clj): added (some) clj support to nixvim module
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/default.nix
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.clj/default.nix
Due: fmt:nix

feat(sops): wip
  Taskfile.yaml
  flake.lock
  flake.nix
  nix/home-manager-modules/dev-programs/misc-packages/default.nix
  nix/nixos-hosts/host.laptop/configuration.nix
  nix/nixos-hosts/host.laptop/secrets.nix
  tasks/Taskfile.secrets.yaml
Due: fmt:nix

feat(nixvim.clj): added repl support via conjure
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.clj/default.nix
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.clj/deps.edn
Due: fmt:nix

feat(clj.lsp): added lsp for clj
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.clj/default.nix
Due: fmt:nix

added arm host
  nix/home-manager-hosts/home.work.nix
  nix/home-manager-hosts/hosts.toml
Due: fmt:nix

feat(home-manager-hosts): added arm hosts
  nix/home-manager-hosts/home.work.nix
  nix/home-manager-hosts/hosts.toml
Due: fmt:nix

build(flake.nix): downgrade
  flake.lock
Due: none

fix(tmux): updated prefix
  nix/home-manager-modules/dev-programs/tmux/default.nix
Due: fmt:nix

feat(k3s): k3s
  nix/nixos-hosts/host.tower/configuration.nix
  nix/nixos-hosts/host.tower/k3s.nix
  nix/nixos-hosts/host.tower/k8s.nix
Due: fmt:nix

feat(darwin): added darwin host
  Taskfile.yaml
  flake.lock
  flake.nix
  nix/darwin-hosts/arm.nix
  nix/darwin-hosts/hosts.toml
  tasks/Taskfile.darwin.yaml
Due: fmt:nix

feat(darwin.home-manager): added home manager as a module to arm darwin config
  nix/darwin-hosts/arm.nix
  nix/home-manager-modules/dev-programs/misc-packages/default.nix
Due: fmt:nix

docs(flake.nix): deleted dead commented out code
  flake.nix
Due: fmt:nix

dotnet - wip
  flake.lock
  flake.nix
  nix/darwin-hosts/arm.nix
  nix/home-manager-hosts/home.work.nix
  nix/overlays/default.nix
Due: fmt:nix

feat(macbookpro): added darwin host for mbp
  nix/darwin-hosts/hosts.toml
  nix/darwin-hosts/mbp.nix
Due: fmt:nix

wip
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/default.nix
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.dotnet/default.nix
Due: fmt:nix

wip - lsp working!
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.dotnet/default.nix
Due: fmt:nix

test adapter
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.dotnet/default.nix
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.dotnet/neotest-vstest.nix
Due: fmt:nix

feat(nixvim): lang.dotnet
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/default.nix
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.dotnet/default.nix
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.dotnet/neotest-vstest.nix
Due: fmt:nix

feat(formatting|telescope): added some qol updates (format on save via conform; telescope grows top down)
  nix/home-manager-modules/dev-programs/nicksvim/plugins/formatting.nix
  nix/home-manager-modules/dev-programs/nicksvim/plugins/telescope.nix
Due: fmt:nix

feat(nixvim.qflist): added shortcut to manage qf list from lsp errors
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/quickfix/default.nix
Due: fmt:nix

wip - requires nvim 12
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.dotnet/default.nix
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.dotnet/default.nix.bak
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.dotnet/neotest-vstest.lua
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.dotnet/roslyn-ls.lua
  nix/home-manager-modules/dev-programs/nicksvim/plugins/extras/lang.dotnet/roslyn-ls.nix
Due: fmt:nix, fmt:lua

feat(darwin.hosts.arm): added k9s
  nix/darwin-hosts/arm.nix
Due: fmt:nix

feat(arm): added some qol tools to arm host
  nix/darwin-hosts/arm.nix
Due: fmt:nix
