Repository nicklundin08/dots: changes, and which pre-commit hooks are due for each by the changed paths.
All: fmt:nix, fmt:lua, fmt:json

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: fmt:nix
        name: fmt:nix
        entry: alejandra --
        language: system
        files: \.nix$
        pass_filenames: true
      - id: fmt:lua
        name: fmt:lua
        entry: stylua
        language: system
        pass_filenames: true
        files: \.lua$
      - id: fmt:json
        name: fmt:json
        entry: task fmt:json:file --
        language: system
        pass_filenames: true
        files: \.json$

feat(devShells): added simple docker dev shell host
  Taskfile.yaml
  flake.nix
  nix/dev-shells/default.nix
  nix/dev-shells/shells.toml
  tasks/Taskfile.docker.yaml
Due: fmt:nix

lazyvim
  nix/outputs/devshells.default/devshell.default.nix
  xdg-config/nvim/.gitignore
  xdg-config/nvim/.neoconf.json
  xdg-config/nvim/LICENSE
  xdg-config/nvim/README.md
  xdg-config/nvim/init.lua
  xdg-config/nvim/lazy-lock.json
  xdg-config/nvim/lazyvim.json
  xdg-config/nvim/lua/config/autocmds.lua
  xdg-config/nvim/lua/config/keymaps.lua
  xdg-config/nvim/lua/config/lazy.lua
  xdg-config/nvim/lua/config/options.lua
  xdg-config/nvim/lua/plugins/example.lua
  xdg-config/nvim/stylua.toml
Due: fmt:nix, fmt:lua, fmt:json

wip
  flake.nix
  nix/outputs/devshells.default/devshell.default.nix
  tasks/Taskfile.docker.yaml
  xdg-config/nvim.bak/init.lua
Due: fmt:nix, fmt:lua

multi user nix installation inside docker container
  docker/hm.Dockerfile
  docker/hm.entrypoint.sh
  docker/hm.install.sh
  nix/outputs/devshells.default/devshell.default.nix
  tasks/Taskfile.docker.yaml
  xdg-config/oh-my-posh/config.json
  xdg-config/tmux/tmux.conf
Due: fmt:nix, fmt:json

wip - trying to get home manager installed
  docker/01.drip-coffee/Dockerfile
  docker/01.drip-coffee/add-flakes-support.sh
  docker/01.drip-coffee/entrypoint.sh
  docker/01.drip-coffee/install.nix.sh
  docker/02.iced-chai/Dockerfile
  docker/02.iced-chai/entrypoint.sh
  docker/02.iced-chai/install.home-manager.sh
  docker/docker-compose.yaml
  docker/hm.Dockerfile
  nix/nixos-hosts/hosts.toml
  tasks/Taskfile.docker.yaml
Due: none

home manager working inside container working!!
  docker/01.drip-coffee/Dockerfile
  docker/01.drip-coffee/add-flakes-support.sh
  docker/01.drip-coffee/entrypoint.add_flakes_support.sh
  docker/01.drip-coffee/entrypoint.try_it_out.sh
  docker/02.iced-chai/install.home-manager.sh
  docker/docker-compose.yaml
  nix/home-manager-hosts/home.docker.nix
  nix/home-manager-hosts/hosts.toml
  tasks/Taskfile.docker.yaml
Due: fmt:nix

rebase fixup
  nix/nixos-hosts/hosts.toml
  nix/outputs/home-manager.docker/home.docker.nix
  nix/outputs/outputs.toml
Due: fmt:nix

feat(home.docker): added home manager host for docker container
  docker/01.drip-coffee/Dockerfile
  docker/01.drip-coffee/entrypoint.add_flakes_support.sh
  docker/01.drip-coffee/entrypoint.sh
  docker/01.drip-coffee/entrypoint.try_it_out.sh
  docker/01.drip-coffee/install.nix.sh
  docker/02.iced-chai/Dockerfile
  docker/02.iced-chai/entrypoint.sh
  docker/02.iced-chai/install.home-manager.sh
  docker/docker-compose.yaml
  flake.nix
  nix/home-manager-hosts/hosts.toml
  nix/outputs/devshells.default/devshell.default.nix
  nix/outputs/home-manager.docker/home.docker.nix
  nix/outputs/outputs.toml
  tasks/Taskfile.docker.yaml
  xdg-config/nvim.bak/init.lua
  xdg-config/nvim/.gitignore
  xdg-config/nvim/.neoconf.json
  xdg-config/nvim/LICENSE
  xdg-config/nvim/README.md
  xdg-config/nvim/init.lua
  xdg-config/nvim/lazy-lock.json
  xdg-config/nvim/lazyvim.json
  xdg-config/nvim/lua/config/autocmds.lua
  xdg-config/nvim/lua/config/keymaps.lua
  xdg-config/nvim/lua/config/lazy.lua
  xdg-config/nvim/lua/config/options.lua
  xdg-config/nvim/lua/plugins/example.lua
  xdg-config/nvim/stylua.toml
  xdg-config/oh-my-posh/config.json
  xdg-config/tmux/tmux.conf
Due: fmt:nix, fmt:lua, fmt:json

refactor(xdg-config): Deleted unused config prefactor folder
  xdg-config/nvim.bak/init.lua
  xdg-config/nvim/.gitignore
  xdg-config/nvim/.neoconf.json
  xdg-config/nvim/LICENSE
  xdg-config/nvim/README.md
  xdg-config/nvim/init.lua
  xdg-config/nvim/lazy-lock.json
  xdg-config/nvim/lazyvim.json
  xdg-config/nvim/lua/config/autocmds.lua
  xdg-config/nvim/lua/config/keymaps.lua
  xdg-config/nvim/lua/config/lazy.lua
  xdg-config/nvim/lua/config/options.lua
  xdg-config/nvim/lua/plugins/example.lua
  xdg-config/nvim/stylua.toml
  xdg-config/oh-my-posh/config.json
  xdg-config/tmux/tmux.conf
Due: fmt:lua, fmt:json

fix(task-increment): swap increment task back to using committizen
  Taskfile.yaml
Due: none

refactor(Taskfile): moved some functionality from taskfile into nix config (branch, rebuild) for more open-closed approach
  Taskfile.yaml
  nix/outputs/darwin.arm/darwin.arm.nix
  nix/outputs/darwin.arm/dots.nix
  nix/outputs/outputs.toml
  tasks/Taskfile.darwin.yaml
  tasks/Taskfile.home-manager.yaml
Due: fmt:nix

refactor(hosts.toml): deleted dead code
  nix/home-manager-hosts/hosts.toml
Due: none

refactor(contianers): simplified docker setup
  Taskfile.yaml
  containers/Dockerfile
  containers/docker-compose.yaml
  containers/docker.up.sh
  docker/01.drip-coffee/entrypoint.add_flakes_support.sh
  docker/01.drip-coffee/entrypoint.sh
  docker/01.drip-coffee/entrypoint.try_it_out.sh
  docker/01.drip-coffee/install.nix.sh
  docker/02.iced-chai/Dockerfile
  docker/02.iced-chai/entrypoint.sh
  docker/02.iced-chai/install.home-manager.sh
  docker/docker-compose.yaml
Due: none

Bring bazzite up to speed; prune some dead outputs
  flake.nix
  nix/modules.home-manager/tmux/default.nix
  nix/modules.home-manager/tmux/tmux.conf
  nix/outputs/home-manager.docker/home.docker.nix
  nix/outputs/home-manager.msi/home.msi.nix
  nix/outputs/outputs.toml
Due: fmt:nix

feat(outputs.hm-msi): added branch and rebuild bin for msi host
  nix/outputs/home-manager.msi/dots.nix
  nix/outputs/home-manager.msi/home.msi.nix
Due: fmt:nix

fix(tmux): got tmux working inside distrobox
  nix/modules.home-manager/dev-programs.nix
  nix/modules.home-manager/fonts/default.nix
  nix/modules.home-manager/tmux/default.nix
  nix/modules.home-manager/tmux/tmux.conf
  nix/outputs/home-manager.msi/distrobox-workarounds.nix
  nix/outputs/home-manager.msi/dots.nix
  nix/outputs/home-manager.msi/home.msi.nix
Due: fmt:nix

ci(pre-commit.check): added nix flake check hook
  .pre-commit-config.yaml
  nix/modules.nixos/default.nix
  nix/outputs/nixos.dell/users.nick.nix
  nix/outputs/outputs.toml
Due: fmt:nix

refactor(msi): move some dots code to the distrobox file
  nix/outputs/home-manager.msi/dots.nix
  nix/outputs/home-manager.msi/home.msi.nix
Due: fmt:nix

fix(distrobox): fixed profile path issue
  nix/outputs/home-manager.msi/distrobox-workarounds.nix
Due: fmt:nix

feat(nixvim.python): added python support to nixvim
  nix/modules.home-manager/nicksvim/README.md
  nix/modules.home-manager/nicksvim/plugins/extras/default.nix
  nix/modules.home-manager/nicksvim/plugins/extras/lang.python/default.nix
Due: fmt:nix

docs(distrobox): added comment explaining distrobox podman symlink
  nix/outputs/home-manager.msi/distrobox-workarounds.nix
Due: fmt:nix

feat(msi.minikube): added minikube to msi home manager
  nix/outputs/home-manager.msi/home.msi.nix
Due: fmt:nix

feat(templates): added simple template for spring boot rest api
  .gitignore
  Taskfile.yaml
  flake.nix
  nix/outputs/outputs.toml
  nix/outputs/templates.spring-rest-api/README.md
  tasks/Taskfile.templates.yaml
Due: fmt:nix

feat(templates/spring-rest-api): spotless
  nix/outputs/templates.spring-rest-api/build.gradle
  nix/outputs/templates.spring-rest-api/src/main/extra-tasks/Taskfile.ci.yaml
  nix/outputs/templates.spring-rest-api/src/main/extra-tasks/Taskfile.demo.yaml
  nix/outputs/templates.spring-rest-api/src/main/java/com/example/demo/DemoApplication.java
  nix/outputs/templates.spring-rest-api/src/test/java/com/example/demo/DemoApplicationTests.java
  nix/outputs/templates.spring-rest-api/src/test/java/com/example/demo/TestDemoApplication.java
Due: none

feat(templates/spring-boot-rest-api): added checkstyle plugin
  nix/outputs/templates.spring-rest-api/build.gradle
  nix/outputs/templates.spring-rest-api/src/main/checkstyle/google_checks.xml
  nix/outputs/templates.spring-rest-api/src/main/checkstyle/suppressions-xpath.xml
  nix/outputs/templates.spring-rest-api/src/main/checkstyle/suppressions.xml
  nix/outputs/templates.spring-rest-api/src/main/extra-tasks/Taskfile.demo.yaml
  nix/outputs/templates.spring-rest-api/src/main/java/com/example/demo/DemoApplication.java
Due: none

feat(templates/spring-rest-api): added repl using groovysh
  nix/outputs/templates.spring-rest-api/.gitignore
  nix/outputs/templates.spring-rest-api/build.gradle
  nix/outputs/templates.spring-rest-api/docs/HELP.md
  nix/outputs/templates.spring-rest-api/src/main/extra-tasks/Taskfile.demo.yaml
  nix/outputs/templates.spring-rest-api/src/main/java/com/example/demo/Person.java
  nix/outputs/templates.spring-rest-api/src/main/nix/flake.nix
Due: fmt:nix

feat(templates/spring-rest-api): added compose automation
  nix/outputs/templates.spring-rest-api/Taskfile.yaml
  nix/outputs/templates.spring-rest-api/src/main/compose/Taskfile.yaml
  nix/outputs/templates.spring-rest-api/src/main/compose/compose.nginx.yml
  nix/outputs/templates.spring-rest-api/src/main/compose/compose.pg.yaml
  nix/outputs/templates.spring-rest-api/src/main/compose/compose.swagger.yml
  nix/outputs/templates.spring-rest-api/src/main/nix/flake.nix
Due: fmt:nix

feat(templates/spring-rest-api): added liquibase automation
  nix/outputs/templates.spring-rest-api/Taskfile.yaml
  nix/outputs/templates.spring-rest-api/docs/TODOS.md
  nix/outputs/templates.spring-rest-api/src/main/liquibase/.gitignore
  nix/outputs/templates.spring-rest-api/src/main/liquibase/Taskfile.yaml
Due: none

feat(templates/spring-rest-api): added taskfile support for docker and openapi stub generation
  nix/outputs/templates.spring-rest-api/Taskfile.yaml
  nix/outputs/templates.spring-rest-api/docs/TODOS.md
  nix/outputs/templates.spring-rest-api/src/main/docker/Dockerfile
  nix/outputs/templates.spring-rest-api/src/main/docker/Taskfile.yaml
  nix/outputs/templates.spring-rest-api/src/main/envs/local.env
  nix/outputs/templates.spring-rest-api/src/main/java/com/example/demo/endpoints/api/ApiUtil.java
  nix/outputs/templates.spring-rest-api/src/main/java/com/example/demo/endpoints/api/TasksApi.java
  nix/outputs/templates.spring-rest-api/src/main/java/com/example/demo/endpoints/model/NewTask.java
  nix/outputs/templates.spring-rest-api/src/main/java/com/example/demo/endpoints/model/Task.java
  nix/outputs/templates.spring-rest-api/src/main/openapi/.gitignore
  nix/outputs/templates.spring-rest-api/src/main/openapi/Taskfile.bak.yaml
  nix/outputs/templates.spring-rest-api/src/main/openapi/Taskfile.yaml
  nix/outputs/templates.spring-rest-api/src/main/openapi/dist.yaml
  nix/outputs/templates.spring-rest-api/src/main/openapi/openapi-generated.json
Due: fmt:json

feat(templates/spring-rest-api): added jsonschematopojo automation
  nix/outputs/templates.spring-rest-api/Taskfile.yaml
  nix/outputs/templates.spring-rest-api/build.gradle
  nix/outputs/templates.spring-rest-api/docs/TODOS.md
  nix/outputs/templates.spring-rest-api/src/main/java/generated/events/com/demo/example/events/Address.java
  nix/outputs/templates.spring-rest-api/src/main/jsonschema/Taskfile.yaml
  nix/outputs/templates.spring-rest-api/src/main/jsonschema/address.json
  nix/outputs/templates.spring-rest-api/src/main/resources/json/address.json
Due: fmt:json

fix(mbp): fix mbp output structure
  nix/outputs/darwin.mbp/default.nix
  nix/outputs/darwin.mbp/dots.nix
  nix/outputs/darwin.mbp/home.nix
  nix/outputs/outputs.toml
Due: fmt:nix

build(upgrade): upgrade flake
  Taskfile.yaml
  flake.lock
  nix/modules.home-manager/misc-packages/default.nix
  tasks/Taskfile.flake.yaml
Due: fmt:nix

build(flake.nxi): update nixpkgs
  flake.lock
  flake.nix
  nix/modules.home-manager/nicksvim/plugins/extras/lang.ts/default.nix
Due: fmt:nix

feat(ollama): trying out some ollama stuff
  Taskfile.yaml
  nix/outputs/darwin.mbp/agent.nix
  nix/outputs/darwin.mbp/default.nix
  tasks/Taskfile.ollama.yaml
Due: fmt:nix

ollama -> codex
  Taskfile.yaml
  nix/outputs/darwin.mbp/agent.nix
  tasks/Taskfile.ollama.yaml
Due: fmt:nix

iterm2
  nix/outputs/darwin.mbp/home.nix
  nix/outputs/darwin.mbp/iterm2.itermexport
  nix/outputs/darwin.mbp/iterm2.nix
Due: fmt:nix

tasks
  .nvim.lua
  .nvim/tasks.lua
Due: fmt:lua

fix(tmux): change tmux bash to the nix managed profile
  nix/modules.home-manager/tmux/tmux.conf
Due: none
